<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram page</title>
    <style>
        img{
            height: 300px;
            width: 300px;
        }
    </style>
</head>
<body>
    <h1>This page belongs to @<%= data.name %></h1>
    <button>Follow</button>
    <button>Message</button>
    <br/><br/>
    <p>FOLLOWERS : <%= data.followers %></p>
    <p>FOLLOWING  : <%= data.following %></p>
    <br/><br/>
    <% for(post of data.posts){ %>
        <img src="<%= post.image %>" alt="image"><br/>
        <p>Likes : <%= post.likes %></p>
        <p>Comments :<%= post.comments  %></p>
        
   <% } %> 
</body>
</html>